<h1>Listing tags</h1>

<table>
  <thead>
    <tr>
      <th>Tag Number</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Shark Id</th>
      <th>Sex</th>
      <th>Angler Id</th>
      <th>Comments</th>
      <th>Five miles</th>
      <th>Date</th>
      <th>Tagger Id</th>
      <th>Method</th>
      <th>Condition</th>
      <th>Length<br/> Inches/Feet</th>
      <th>Weight</th>
      <th>Species</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.number %></td>
        <td><%= tag.lat %></td>
        <td><%= tag.lng %></td>
        <td><%= tag.shark_id %></td>
        <td><%= tag.sex %></td>
        <td><%= tag.angler_id %></td>
        <td><%= tag.comments %></td>
        <td><%= tag.five_miles %></td>
        <td><%= tag.date %></td>
        <td><%= tag.tagger_id %></td>
        <td><%= tag.method %></td>
        <td><%= tag.condition %></td>
        <td><%= tag.length %>/<%= number_with_precision (tag.length.to_f / 12), :precision => 2 %></td>
        <td><%= tag.weight %></td>
        <td><%= tag.species %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
